body {
    font-family: sans-serif;
    background-image: linear-gradient(#FFFFFF, #FFE226);
    color: #0B3A56;
}

#contenedor-nombre-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inicio-sesion {
    display: none;
}

#logo {
    width: 200px;
}
#nombre-empresa {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bolder;
}

.informacion-inicio-sesion {
    font-size: 1rem;
    margin-bottom: 20px;
    
}

.input-inicio-sesion {
    height: 30px;
    border: 1px solid #0B3A56;
    background-color: #FFFFFF;
}

#boton-inicio-sesion {
    width: 178px;
    height: 35px;
    border: 1px solid #0B3A56;
    background-color: #C6382C;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 1rem;
}

/* inicio de sesion */
#inicio {
    display: block;
}

#img-inicio {
    width: 4rem;
}
.seleccionado {
    margin: 0 20px 0 20px;
    background-color: #FFE226;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    border: 1px solid #0B3A56;
    display: flex;
    align-items: center;
    justify-content: center;

}

.no-seleccionado {
    margin: 0 20px 0 20px;
    color: #0B3A56;
    font-size: 1rem;
    font-weight: bolder;
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
#contenedor-empleados {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}
.empleado-pedidos {
    background-color: #FFE226;
    width: 350px;
    height: 400px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

#input-buscar {
    height: 25px;
    width: 230px;
    border-radius: 10px;
    border: 1px solid #0B3A56;
    margin-bottom: 50px;
}

.botton-estados {
    width: 200px;
    height: 30px;
    border: 1px solid #0B3A56;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #C6382C;
    font-weight: bolder;
    font-size: 1rem;
}
.pedidos-info {
    display: flex;
    align-items: center;
    color: #0B3A56;
    font-size: 1.5rem;
    font-weight: bolder;
    
}
.pedidos-info-cantidad {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 10px 0 10px 0; 
}